body{

}
a.head{
	text-align: center;
	font-size:35px;
	font-style:bold;
	font-family: 'Cinzel Decorative', cursive;
}
a.head:active, a.head:link, a.head:visited{
	text-decoration:none;
	color:black;
}
a.head:hover{
	text-decoration:underline;
	color:black;
}
img.us{
	height:150px;
	padding: 10px;
	display:inline-block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-o-transition: all 0.3s;
}
img.us:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-o-transform: scale(1.1);
}
img.daijon{
	height:250px;
	display:inline-block;
}
#daijon{
	text-align:right;
}
#grouppic{
	margin:auto;
	text-align:center;
}
p.link2{
	font-size:20px;
}
.link1, .link2{
	display:inline-block;
	font-family: 'Roboto Condensed', sans-serif;
}
a{
	padding-left:15px;
	padding-right:15px;
	font-size:20px;
}
a:visited.link2, a:active.link2, a:link.link2{
	color:black;
	text-decoration:none;
}
a:hover.link2{
	color:black;
	text-decoration:underline;
}
a:visited.link1, a:active.link1, a:link.link1{
	color:white;
	text-decoration:none;
}
a:hover.link1{
	color:white;
	text-decoration:underline;
}
#topnav{
	margin:auto;
	text-align:center;
}
#bottomnav{
	margin:auto;
	text-align:center;
}
#about{
	text-align: center;
	margin:auto;
	padding:5px;
}