body{ 
	margin:20px;
	background-color:#fad5af;
}
header{
	text-align: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	padding-bottom:15px;
}
header:hover{
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-o-transform: scale(1.2);
	text-shadow:1.5px 1.5px 1.5px #BBBBBB,
				1.5px 1.5px 1.5px #BBBBBB,
				1.5px 1.5px 1.5px #BBBBBB,
				1.5px 1.5px 1.5px #BBBBBB;
}
a.head{
	font-size:40px;
	font-style:bold;
	font-family:'Cinzel Decorative', cursive;
	text-shadow:1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999;
}
a.head:active, a.head:link, a.head:visited{
	text-decoration:none;
	color:black;
}
a.head:hover{
	text-shadow:2px 2px 2px #666,
				2px 2px 2px #666,
				2px 2px 2px #666,
				2px 2px 2px #666;
}
img.us{
	height:150px;
	display:inline-block;
	border:black solid 5px;
	border-radius: 80px;
	-webkit-filter: drop-shadow(5px 5px 5px #666);
	-moz-filter:drop-shadow(5px 5px 5px #666);
	filter: drop-shadow(5px 5px 5px #666);
	-o-filter:drop-shadow(5px 5px 5px #666);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-o-transition: all 0.3s;
}
img.us:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-filter: drop-shadow(7px 7px 7px #000);
	-moz-filter:drop-shadow(7px 7px 7px #000);
	filter: drop-shadow(7px 7px 7px #000);
	-o-filter:drop-shadow(7px 7px 7px #000);
}
img.me{
	height:425px;
	display:inline-block;
	border-radius: 20px;
	-webkit-filter: drop-shadow(5px 5px 5px #666);
	-moz-filter:drop-shadow(5px 5px 5px #666);
	filter: drop-shadow(5px 5px 5px #666);
	-o-filter:drop-shadow(5px 5px 5px #666);
}
h1.head{
	text-align:left;
	font-family: 'Roboto Condensed', sans-serif;
}
#grouppic{
	margin:20px;
	text-align:center;
}
.link1, .link2{
	display:inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-o-transition: all 0.3s;
}
a{
	padding-left:15px;
	padding-right:15px;
	font-size:20px;
}
a:visited.link2, a:active.link2, a:link.link2{
	color:black;
	text-decoration:none;
	text-shadow:1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999;
}
a:hover.link2{
	color:black;
	text-decoration:underline;
	text-shadow:1.5px 1.5px 1.5px #666,
				1.5px 1.5px 1.5px #666,
				1.5px 1.5px 1.5px #666,
				1.5px 1.5px 1.5px #666;
}
a:visited.link1, a:active.link1, a:link.link1{
	color:black;
	text-decoration:none;
	text-shadow:1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999;
	padding-bottom:15px;
}
a:hover.link1{
	color:black;
	text-decoration:underline;
	text-shadow:1.5px 1.5px 1.5px #666,
				1.5px 1.5px 1.5px #666,
				1.5px 1.5px 1.5px #666,
				1.5px 1.5px 1.5px #666;
	padding-bottom:15px;
}
#topnav{
	margin:auto;
	text-align:center;
	padding-top:5px;
	border-top:gray solid 0.5px;
}
#bottomnav{
	margin:auto;
	text-align:center;
	padding:15px;
	border-top:gray solid 0.5px;
	background-color:#ffad59;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
}
h1.names{
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow:1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999,
				1.5px 1.5px 1.5px #999;
}
h1.names:hover{
	text-shadow:1.5px 1.5px 1.5px #666,
				1.5px 1.5px 1.5px #666,
				1.5px 1.5px 1.5px #666,
				1.5px 1.5px 1.5px #666;
}
#bola, #noah{
	display:inline-block;
	padding:10px;
}
img.me{
	border:black solid 5px;
	border-radius: 250px;
}
b{
	font-family: 'Roboto Condensed', sans-serif;
	font-style: bold;
	font-size: 20px;
}
h1.names:hover{
	text-decoration:underline;
	cursor: default;
}
#aboutme{
	border:black solid 5px;
	border-radius:15px;
	padding:20px;
}
#text{
	float:left;
	width:65%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	background-color:#ffad59;
	padding-bottom:5px;
	padding-left:2%;
	padding-right:2%;
	border-radius:15px;
}
#pic{
	margin-left:70%;
}
.desc{
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	background-color:#bf7c00;
	border-radius:15px;
	font-size: 17px;
	margin:12.5px;
}
ul{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}
.age{
	font-size:25px;
	color:#666;
	font-family: 'Roboto Condensed', sans-serif;
}
.howard{
	color:red;
	font-family: 'Roboto Condensed', sans-serif;
}
.university{
	color:blue;
	font-family: 'Roboto Condensed', sans-serif;
}
.red{
	color:red;
	text-shadow:-1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
}
.green{
	color:green;
	text-shadow:-1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
}
.salmon{
	color:#FA8072;
	text-shadow:-1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
}
.ngreen{
	color:#006600;
	text-shadow:-1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
}
.nwhite{
	color:#FFF;
	text-shadow:-1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
}
.jblack{
	color:black;
	text-shadow:-1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
}
.jyellow{
	color:#FFFF00;
	text-shadow:-1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
}
.jgreen{
	color:#006600;
	text-shadow:-1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
}